@media (max-width:576px) {

    .second-text {
        width: 100%;
        font-size: 15px;
    }

    .col-2 .icons {
        display: none;
    }

    .nav-menu {
        display: none;
        /* float: none;
        position: fixed;
        z-index: 9;
        left: 6%;
        top: 95px;
        width: 90%;
        height: auto;
        background-color: #2b2b24be;
        transition: .5s ease; */
    }

    /* 
    .nav-menu li {
        padding: 20px;
        border-bottom: 1px solid var(--gray);
        cursor: pointer;
    }

    .nav-menu li a {
        font-size: 18px;
        color: var(--white);
    }

    .nav-menu li:hover a {
        color: var(--dark-gold)
    }

    input[type="checkbox"]:checked+.nav-menu {
        display: block
    }

    .icon-burger {
        display: block;
    } */
    .header-content p {
        width: 100%;
    }

    .about {
        grid-template-columns: 1fr;
    }

    .about-photo img {
        width: 98%;
        margin: 20px;
    }


    .hobbies {
        grid-template-columns: 1fr;
        padding: 20px 0;
    }

    .hobby {
        width: 100%;
    }

    #counter {
        height: 375px;
    }

    .counter {
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

    .offer {
        grid-template-columns: 1fr;
    }

    .offer-item {
        padding: 40px 35px;
    }

    .portfolios {
        grid-template-columns: 1fr;
    }

    .portfolio-buttons ul li {
        font-size: 15px;
        margin: 0 5px;
    }

    .blogs {
        grid-template-columns: 1fr;
    }

    .contact-content {
        grid-template-columns: 1fr;
    }

    .contact-form {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
        gap: 20px;
    }

    .form {
        padding: 18px 17px;
    }

    .message {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }

    .hireme {
        text-align: center;
    }

    .hireme .second-text {
        color: #A4A4A4;
    }

    .footer img {
        width: 37%;
    }

































    #testimonials {
        display: none;
    }

    #participation {
        display: none;
    }



}

@media (min-width:576px) and (max-width:768px) {}

@media (min-width:768px) and (max-width:992px) {}

@media (min-width:992px) and (max-width:1200px) {}